$themes: (
    light: (
        background: #fff,
        midhigh: #B8DBD9,
        mid: #586F7C,
        midlow: #B8DBD9,
        text: #000,
        color-brand: #23B5D3,
    ),
    dark: (
        background: #0D1B2A,
        midhigh: #2F4550,
        mid: #586F7C,
        midlow: #B8DBD9,
        text: #F4F4F9,
        color-brand: #23B5D3,
    )
);
